* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}
.filter {
  display: none;
  position: absolute;
  background-color: black;
  opacity: 0.5;
  width: 80vw;
  height: 80vh;
  top: 11%;
  right: 11%;
  border-radius: 10px;
}
.load-text {
  /* position: absolute;
  top: 40%;
  right: 45%;
  bottom: 0; */
  font-size: 60px;
  color: white;
}
.load {
  display: flex;
  margin-left: 35%;
  margin-top: 20%;
}
#fountainG {
  margin: 0;
  margin-top: 55px;
}
.container-s1 {
  border: 1px solid red;
  border-bottom: none;
  border-top: none;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 1200px;
}
.city-name-error {
  color: #ff8c00;
  font-size: 13px;
  font-weight: bold;
}
.inp {
  color: rgb(58, 58, 58);
  background: rgb(220, 219, 219);
  border-radius: 10px 0px 0px 10px;
  border: blanchedalmond;
  width: 200px;
  height: 30px;
  padding-left: 8px;
  margin-right: -2px;
}
.btn {
  position: absolute;
  cursor: pointer;
  background: rgb(220, 219, 219);
  border-radius: 0px 10px 10px 0;
  border: blanchedalmond;
  width: 50px;
  height: 30px;
  margin-top: 3px;
}
.left-wr1 {
  display: flex;
  flex-direction: column;
  /* line-height: 100px; */
  /* justify-content: space-around; */
  margin: auto auto;
}

.section-1 {
  background: linear-gradient(to top, #88e0e0, #aeebeb);
  height: 454px;
}
#icon {
  height: 450px;
  width: 700px;
}
.place {
  display: flex;
  color: #ffffff;
  font-weight: bold;
  font-size: 60px;
}
/* .city {
  font-size: 30px;
  margin-top: 30px;
} */
.weather {
  font-size: 40px;
  font-weight: 600;
  color: #ffffff;
}
.section-2 {
  height: 500px;
  background: #ecf22b;
}
.section-3 {
  height: 86px;

  background: linear-gradient(to top, #66d8d8, #9ee5e5);
}
